Package: hydrangea-blockchain-cli
Version: {{ HYDRANGEA_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Hydrangea Network Inc <hello@hydrangea.website>
Description: Hydrangea Blockchain
 Hydrangea is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
